<head>
  <title>blublu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>


<template name="default">

<div class="main-container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Blublu</a>
    </div>

  </div><!-- /.container-fluid -->
</nav>

<div class="info-container">

  <div class="time text-center"> {{currentTime}} </div>

  <div class="price text-center"> {{dolarCompra}}</div>

  <div class="price-title text-center"> compra </div>

  <div class="price text-center"> {{dolarVenta}} </div>

  <div class="price-title text-center"> venta </div>

</div>

</div>

</template>
